body {
  font-family: Helvetica;
  text-align: center;
  color: #000000;
}

/* HEADERS */

.header--main {
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  background: url ("./resources/images/the-flatiron-building.png")
}
