body {
  font-family: Helvetica;
  text-align: center;
}

/* HEADERS */

.header--main {
  background-image: url("./resources/images/the-flatiron-building.png");
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header--navigation {
  font-size: 18px;
  color: white;
}
